.lowerframe {
  position: absolute;
  top: 750px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: grey;
}
.upperframe{
  position: absolute;
  
  top: 0px;
  right: 0;
  bottom: 750px;
  left: 0;
  background-color: grey;

}
.artistico-all-rights{
  position: absolute;
  top: 800px;
  left: 600px;
  font-weight: bolder;
  font-style: italic;
}
.artistico{
  position:absolute;
  top: 3%;
  font-size:40px;
  font-weight:bolder;
  font-style: italic;

}
.artistico2 {
  position: absolute;
  top: 780px;
  left: 0;
  font-family:var(--font-shrikhand);
  font-weight: bolder;
  font-size: 50px;
  font-style: italic;
  
}
 .artistico26{
  height: 46.77%;
  width: 13.82%;
  top: 26.61%;
  right: 70.83%;
  bottom: 26.61%;
  left: 15.35%;
  font-size: var(--font-size-21xl);
  font-family: var(--font-shrikhand);
} 
.lowerarea6 {
  position: absolute;
  top: 706px;
  left: -12px;
  width: 1440px;
  height: 124px;
  font-size: var(--font-size-base);
}
.accounticon2,
.carticon {
  position: absolute;
  height: 4.98%;
  width: 3.11%;
  top: 3%;
  right: 16.58%;
  bottom: 90.3%;
  left: 80.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.accounticon{
  position: absolute;
  height: 4.98%;
  top: 3%;
  right: 9.53%;
  bottom: 89.93%;
  left: 87.37%;
  cursor: pointer;
}
.artistico28,
.payment{
  position: absolute;
  font-size: var(--font-size-21xl);
  font-family: var(--font-shrikhand);
}
.artistico28 {
  top: 36px;
  left: 196px;
  width: 199px;
  height: 58px;
  cursor: pointer;
}
.payment {
  top: 150px;
  left: 700px;
  font-weight:bold;
  font-size: larger;
}
.merchandise-subtotal {
  position: absolute;
  top: 273px;
  left: 168px;
}
.subtotaloutput,
.total-payment,
.totaloutput {
  position: absolute;
  top: 273px;
  left: 544px;
}
.total-payment,
.totaloutput {
  top: 323px;
}
.total-payment {
  top: 319px;
  left: 164px;
  font-size: 26px;
  font-weight: 600;
}
.gcash-info1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 800;
}
.gcash-info {
  position: absolute;
  top: 207px;
  left: 1100px;
  width: 197px;
  height: 44px;
  font-size: var(--font-size-17xl);
}
.gcash-number,
.numberinput {
  position: absolute;
  top:  10px;
  left: -140px;
}
input {
  top: 30px;
  background-color: var(--color-gainsboro-100);
  width: 378px;
  height: 39px;
}
.gcashnum,
button{
  position: absolute;
  top: 273px;
  left: 1000px;
  width: 378px;
  height: 69px;
}
.upload {
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-dimgray-200);
  height: 39px;
}
.upload-proof-of,
.uploadbtn {
  position: absolute;
  left: 0px;
  top: 100px;
  width: 378px;
  height: 3009px;
  color: var(--color-black);
}

.gcashfrm {
  position: relative;
  background-color:lightgray;
  width: 100%;
  height: 830px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}

.confirmbtn{
  position:absolute;
  top: 300px;
  left: 500px;
  border-radius: 0cap;
  border-radius: 11%;
  border-style: double;
  border-color: black;
  
  
}