.lowerarea-inner {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-gainsboro-100);
  width: 1440px;
  height: 240px;
}
.lowerarea2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 240px;
}
.span2 {
  color: var(--color-black);
}
.all-about-the2 {
  margin: 0;
}
.all-about-the-container2 {
  position: absolute;
  top: 36px;
  left: 130px;
  font-size: var(--font-size-45xl);
  line-height: 55px;
  font-family: var(--font-shrikhand);
  color: var(--color-gray);
}
.socialicons2 {
  position: absolute;
  top: 40px;
  left: 1177px;
  width: 133px;
  height: 51px;
  object-fit: cover;
}
.privacy-policy2 {
  position: absolute;
  top: 138px;
  left: 1157px;
}
.terms-conditions2 {
  position: absolute;
  top: 138px;
  left: 926px;
}
.lowerframe2 {
  position: absolute;
  top: 1460px;
  left: 0px;
  width: 1440px;
  height: 240px;
  font-size: var(--font-size-xl);
}
.middleframe-inner {
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 602px;
  height: 345px;
}
.image4-icon2 {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 650px;
  height: 368px;
  object-fit: cover;
}
.about6 {
  position: absolute;
  top: 68px;
  left: 686px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 494px;
  height: 231px;
}
.labelabout2 {
  position: absolute;
  top: 51px;
  left: 702px;
  font-weight: 900;
}
.indicator2 {
  position: absolute;
  top: 51px;
  left: 673px;
  font-weight: 900;
  display: inline-block;
  width: 57px;
}
.middleframe2 {
  position: absolute;
  top: 1026px;
  left: 130px;
  width: 1180px;
  height: 389px;
  font-size: var(--font-size-29xl);
}
.image1-icon2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0px;
  top: 4px;
  transform: scale(1.017);
}
.wrapper-image11 {
  position: absolute;
  top: 66px;
  left: 0px;
  width: 1440px;
  height: 459px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.glowarea2 {
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-coral-200);
  filter: blur(100px);
  width: 341px;
  height: 61px;
  z-index: 0;
}
.shop-now2 {
  position: absolute;
  margin: 0 !important;
  top: 13px;
  left: 90px;
  font-weight: 600;
  z-index: 1;
}
.redirectloginregister2 {
  position: absolute;
  top: 375px;
  left: 550px;
  border-radius: var(--br-base);
  background-color: var(--color-coral-100);
  backdrop-filter: blur(100px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--color-white);
}
.every-canvass-is2 {
  position: absolute;
  top: 303px;
  left: 397px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-syncopate);
  width: 646px;
  height: 33px;
}
.image3-icon2 {
  position: absolute;
  top: 161.7px;
  left: 502px;
  width: 81.6px;
  height: 128.7px;
  object-fit: cover;
}
.artistico6 {
  position: absolute;
  top: 215px;
  left: 602.9px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-shrikhand);
  display: inline-block;
  width: 202.9px;
  height: 75.4px;
}
.image2-icon2 {
  position: absolute;
  top: 137px;
  left: 477.5px;
  border-radius: var(--br-4xs);
  width: 123.4px;
  height: 175.5px;
  object-fit: cover;
}
.artistico8 {
  position: absolute;
  top: 0%;
  left: 0%;
}
.artistico7 {
  position: absolute;
  top: 0px;
  left: 130px;
  width: 199px;
  height: 58px;
  cursor: pointer;
  font-size: var(--font-size-21xl);
  font-family: var(--font-shrikhand);
}
.about9  {
  position: absolute;
  top: 0%;
  left: 0%;
  font-weight: 500;
}
.about7 {
  position: absolute;
  top: 10px;
  left: 878px;
  width: 94px;
  height: 38px;
  cursor: pointer;
}
.about8 {
  position: absolute;
  top: 10px;
  left: 1030px;
  width: 127px;
  height: 38px;
  cursor: pointer;
}
.about10{
  position: absolute;
  top: -20px;
  left: 1215px;
  width: 95px;
  height: 38px;
  cursor: pointer;
}
.upperframe2 {
  position: absolute;
  top: 22px;
  left: 0px;
  width: 1440px;
  height: 525px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-work-sans);
}
.see-more6 {
  font-weight: 300;
}
.see-more-container6 {
  position: relative;
}
.sculpturebtn2 {
  position: absolute;
  top: 181px;
  left: 198px;
  border-radius: var(--br-base);
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-mid);
}
.sculpture2 {
  position: absolute;
  top: 144px;
  left: 208px;
  font-weight: 600;
}
.image6-icon2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 240px;
  height: 244px;
  object-fit: cover;
}
.sculptureframe2 {
  position: absolute;
  top: 547px;
  left: 93px;
  width: 363px;
  height: 244px;
}
.digitalbtn2 {
  position: absolute;
  top: 146px;
  left: 244px;
  border-radius: var(--br-base);
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-mid);
}
.digital-art2 {
  position: absolute;
  top: 109px;
  left: 253px;
  font-weight: 600;
}
.image7-icon2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 244px;
  height: 174px;
  object-fit: cover;
}
.digitalframe2 {
  position: absolute;
  top: 582px;
  left: 497px;
  width: 409px;
  height: 185px;
}
.image8-icon2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 193px;
  height: 156px;
  object-fit: cover;
}
.painting2 {
  position: absolute;
  top: 100px;
  left: 225px;
  font-weight: 600;
}
.paintingbtn2 {
  position: absolute;
  top: 137px;
  left: 208px;
  border-radius: var(--br-base);
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-mid);
}
.paintingframe2 {
  position: absolute;
  top: 591px;
  left: 922px;
  width: 373px;
  height: 176px;
}
.loginregisterframe1 {
  position: absolute;
  top: 7px;
  left: -83px;
  border-radius: var(--br-32xl);
  background: linear-gradient(
    180deg,
    rgba(176, 182, 188, 0.85),
    rgba(213, 215, 217, 0.85) 99.99%,
    rgba(176, 182, 188, 0)
  );
  width: 1161px;
  height: 402px;
}
.confirm-password {
  position: absolute;
  top: -36px;
  left: -68.8px;
  font-weight: 600;
  font-size: 19px;
  display: inline-block;
  width: 282.9px;
}
input {
  position: absolute;
  top: -14px;
  left: -72px;
  font-size: 15px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 285px;
  height: 29px;
}
.confirmpassfrm {
  position: absolute;
  top: 285px;
  left: 634px;
  width: 478px;
  height: 65px;
}
.create-password {
  position: absolute;
  top: -36px;
  left: -70px;
  font-weight: 600;
  font-size: 19px;
  display: inline-block;
  width: 230.7px;
  height: 21.4px;
}
.myInput input {
  position: absolute;
  top: 25.9px;
  left: 0px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 655px;
  height: 32.1px;
}
.check-box{
  position: absolute;
  top: 35px;
  left: 336px;
}
.show-pass{
  position: absolute;
  display: inline-flex;
  align-items: center;
  border-radius: 0%;
  top: 44px;
  left: 366px;
  font-size: 13px;
}
.createpassfrm {
  position: absolute;
  top: 285px;
  left: 329px;
  width: 466px;
  height: 58px;
}

.reg {
  position: relative;
  font-weight: 600;
}
button {
  position: absolute;
  top: 312px;
  left: 364px;
  border-radius: var(--br-2xl);
  background-color: var(--color-black);
  opacity: 0.6;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-64xl);
  cursor: pointer;
  text-align: right;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.seller {
  flex: 1;
  position: relative;
  font-weight: 500;
  left: 25px;
}
.sellerslider {
  position: absolute;
  top: 71px;
  left: 299px;
  border-radius: var(--br-smi);
  background-color: var(--color-lightgray-200);
  width: 440px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px var(--padding-80xl);
  box-sizing: border-box;
  cursor: pointer;
  text-align: right;
  font-size: var(--font-size-5xl);
}
.customer {
  position: relative;
  font-weight: 500;
}
.customerslider {
  position: absolute;
  top: 71px;
  left: 301px;
  border-radius: var(--br-smi);
  background-color: var(--color-black);
  opacity: 0.6;
  width: 228px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px var(--padding-45xl);
  box-sizing: border-box;
  text-align: right;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.address {
  position: absolute;
  top: -36px;
  left: -64.4px;
  font-weight: 600;
  font-size: 19px;
  display: inline-block;
  width: 325.2px;
  height: 24.7px;
}
.address input{
  position: absolute;
  top: 32px;
  left: 0px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 591px;
  height: 37.1px;
}
.addressframe {
  position: absolute;
  top: 285px;
  left: 28px;
  width: 591px;
  height: 69.1px;
}
.email-address {
  position: absolute;
  top: -36px;
  left: -68px;
  font-weight: 600;
  font-size: 19px;
  display: inline-block;
  width: 197.7px;
}
.emailAdd input{
  position: absolute;
  top: 32px;
  left: 0px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 356px;
  height: 35px;
}
.emailaddressframe {
  position: absolute;
  top: 211px;
  left: 634px;
  width: 356px;
  height: 67px;
}
.contact-number {
  position: absolute;
  top: -36px;
  left: -69.4px;
  font-weight: 600;
  font-size: 19px;
  display: inline-block;
  width: 197.5px;
}
.contactNum input{
  position: absolute;
  top: 29px;
  left: 0px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 514px;
  height: 37px;
}
.contactnumframe {
  position: absolute;
  top: 211px;
  left: 329px;
  width: 514px;
  height: 66px;
}
.gender {
  position: absolute;
  top: -36px;
  left: 9px;
  font-weight: 600;
  font-size: 19px;
  display: inline-block;
  width: 110.1px;
  height: 21.3px;
}
.radiobtnfemale button{
  position: absolute;
  top: 25.8px;
  left: 7px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 22px;
  height: 18.7px;
}
.radiobtnmale button{
  position: absolute;
  top: 48.9px;
  left: 7px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 22px;
  height: 18.7px;
}
.male {
  position: absolute;
  top: 10px;
  left: 33px;
  font-weight: 600;
  display: inline-block;
  width: 110.1px;
  height: 21.3px;
}
.female {
  position: absolute;
  top: 50px;
  left: 33px;
  font-weight: 600;
  display: inline-block;
  width: 110.1px;
  height: 21.3px;
}
input[type="radio"]{
  display: none;
  padding: 1px;
}
label{
  display: block;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 5px;
}
label span{
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  padding: 1px;
  border-radius: 20px;
  transition: .25s ease;
}
label span :hover{
  background-color: #d6d6e5;
}
label span:before{
  content: "";
  background-color: #fff;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 10px;
  transition: .25s ease;
  box-shadow: inset 0 0 0 2px grey;
}
input[type="radio"]:checked + span:before{
  box-shadow: inset 0 0 0 10px grey;
}
.genderframe {
  position: absolute;
  top: 138px;
  left: 863px;
  width: 143.1px;
  height: 67.6px;
}
.birthdate {
  position: absolute;
  top: -36px;
  left:-68px;
  font-weight: 600;
  font-size: 19px;
  display: inline-block;
  width: 374px;
}
.birthDate input{
  position: absolute;
  top: 29px;
  left: 0px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 289px;
  height: 37px;
}
.birthdatefrm {
  position: absolute;
  top: 211px;
  left: 28px;
  width: 374px;
  height: 66px;
}
.middle-name {
  position: absolute;
  top: -36px;
  left: -67px;
  font-weight: 600;
  font-size: 19px;
  display: inline-block;
  width: 163px;
}
.middleName input{
  position: absolute;
  top: 29px;
  left: 0px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 187px;
  height: 36px;
}
.middlenameframe {
  position: absolute;
  top: 138px;
  left: 633px;
  width: 187px;
  height: 65px;
}
.first-name {
  position: absolute;
  top: -36px;
  left: -69.8px;
  font-size: 19px;
  font-weight: 600;
  display: inline-block;
  width: 167.7px;
}
.fristName input{
  position: absolute;
  top: 29px;
  left: 0px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 317px;
  height: 36px;
}
.firstnameframe {
  position: absolute;
  top: 138px;
  left: 328px;
  width: 317px;
  height: 65px;
}
.last-name {
  position: absolute;
  top: -36px;
  left: -63.9px;
  font-size: 19px;
  font-weight: 600;
  display: inline-block;
  width: 130.7px;
}
.lastName input{
  position: absolute;
  top: 29px;
  left: 0px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 289px;
  height: 36px;
}
.lastnameframe {
  position: absolute;
  top: 138px;
  left: 28px;
  width: 289px;
  height: 65px;
}
.already-have-an {
  position: absolute;
  top: 356px;
  left: 364px;
  font-weight: 600;
  font-size: 15px;
  text-align: right;
}
.redirect-log-in {
  position: absolute;
  top: 357px;
  left: 566px;
  font-weight: 600;
  font-size: 15px;
  color: var(--color-chocolate-200);
  text-align: right;
  cursor: pointer;
}
.backbtn1 {
  position: absolute;
  top: 377px;
  left: 479px;
  font-weight: 800;
  font-size: 15px;
  color: var(--color-chocolate-100);
  cursor: pointer;
}
.log-in5 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 331px;
  flex-shrink: 0;
  left: 20px
}
.logslidersbtn1 {
  position: absolute;
  top: 26px;
  left: 165px;
  border-radius: var(--br-7xl);
  background: linear-gradient(
    180deg,
    #e5ddd9,
    rgba(229, 221, 217, 0.64) 99.99%,
    rgba(229, 221, 217, 0)
  );
  width: 668px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-195xl);
  box-sizing: border-box;
  cursor: pointer;
  text-align: right;
  font-size: var(--font-size-5xl);
}
.regslidersbtn1 {
  position: absolute;
  top: 26px;
  left: 165px;
  border-radius: var(--br-7xl);
  background-color: var(--color-dimgray-200);
  opacity: 0.6;
  width: 307px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-159xl);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.registerareacustomer {
  position: absolute;
  top: 184px;
  left: 209px;
  width: 1006px;
  height: 557px;
  font-size: var(--font-size-xl);
}
.registercustomer {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1700px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}